<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "Kevin\'s Markdown Editor"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-50 h-full">
    <header class="bg-white shadow-sm">
      <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold text-gray-800">Kevin's Real-Time Markdown Editor</h1>
      </div>
    </header>
    {@inner_content}
  </body>
</html>
